<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dot Technologies</title>
    @*<link rel="icon" href="~/images/download.jpg" type="image/x-icon">*@
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/hot-sneaks/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body>

    @*   #a26d41  6b705c   0089ba      #845422*@
    <div class="">
        @RenderBody()
        <br />
        <hr />
        <footer>
            <p class="text-center"><b>&copy; @DateTime.Now.Year - <strong style="background-color:black;color:white">DOT</strong> TECHNOLOGIES</b></p>
        </footer>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    
</body>
</html>