
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Website.cshtml";
}
<div class="tm-titlebar-wrapper tm-bg tm-bgcolor-custom tm-titlebar-align-default tm-textcolor-white tm-bgimage-yes tm-breadcrumb-bgcolor-custom">

    <img src="~/Website/Banners/banner8.jpg" style="width:100%"/>
    <div class="tm-titlebar-wrapper-bg-layer tm-bg-layer"></div>
    <div class="tm-titlebar entry-header">
        <div class="tm-titlebar-inner-wrapper">
            <div class="tm-titlebar-main">
                <div class="container">
                    <div class="tm-titlebar-main-inner">
                        <b style="color:#000000;font-size:26px"><b>ABOUT US COMMING SOON...</b></b>
                    </div>
                </div>
            </div><!-- .tm-titlebar-main -->
        </div><!-- .tm-titlebar-inner-wrapper -->
    </div><!-- .tm-titlebar -->
</div>

