
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Website.cshtml";
}
<div class="tm-titlebar-wrapper tm-bg tm-bgcolor-custom tm-titlebar-align-default tm-textcolor-white tm-bgimage-yes tm-breadcrumb-bgcolor-custom">

    <img src="~/Website/Banners/banner8.jpg" style="width:100%"/>
    <div class="tm-titlebar-wrapper-bg-layer tm-bg-layer"></div>
    <div class="tm-titlebar entry-header">
        <div class="tm-titlebar-inner-wrapper">
            <div class="tm-titlebar-main">
                <div class="container">
                    <div class="tm-titlebar-main-inner">
                        
                    </div>
                </div>
            </div><!-- .tm-titlebar-main -->
        </div><!-- .tm-titlebar-inner-wrapper -->
    </div><!-- .tm-titlebar -->
</div>
<div class="container" style="margin-top:-500px">
    <div id="content-wrapper" class="site-content-wrapper">
        <div id="content" class="site-content ">
            <div id="content-inner" class="site-content-inner ">

                <div id="primary" class="content-area  ">
                    <main id="main" class="site-main">

                        <article id="post-870" class="post-870 page type-page status-publish hentry">


                            <header class="single-entry-header tm-hide">
                                <h2 class="entry-title">Contact Us</h2>
                            </header><!-- .entry-header -->
                            <div class="entry-content">
                                <div data-vc-full-width="true" data-vc-full-width-init="false" class="tm-row wpb_row vc_row-fluid vc_custom_1616504718821 tm-responsive-custom-11023922 vc_column-gap-default tm-zindex-0 tm-bgimage-position-center_center">

                                    <div class="vc_row container vc_column-gap-default">

                                        <div class="wpb_column tm-column vc_column_container vc_col-sm-12 tm-overlap-row tm-colum-shadow-box tm-zindex-0">
                                            <div class="vc_column-inner vc_custom_1616580667165 tm-col-bgcolor-white tm-col-bgcolor-yes tm-responsive-custom-12408977">
                                                <div class="tm-col-wrapper-bg-layer tm-bg-layer tm-bgimage-position-center_center"><div class="tm-bg-layer-inner"></div></div>		<div class="wpb_wrapper">
                                                    <div class="tm-element-heading-wrapper tm-heading-inner tm-element-align-center tm-seperator-none tm-heading-style-vertical ">
                                                        <section class="tm-vc_cta3-container">
                                                            <div class="tm-vc_general tm-vc_cta3 tm-cta3-only tm-vc_cta3-style-classic tm-vc_cta3-shape-rounded tm-vc_cta3-align-center tm-vc_cta3-color-transparent tm-vc_cta3-icon-size-md tm-vc_cta3-actions-no tm-cta3-without-desc">
                                                                <div class="tm-vc_cta3_content-container">
                                                                    <div class="tm-vc_cta3-content">
                                                                        <header class="tm-vc_cta3-content-header tm-wrap">
                                                                            <div class="tm-vc_cta3-headers tm-wrap-cell">
                                                                                <h2 class="tm-custom-heading ">Contact <b>Form</b></h2>
                                                                            </div><div class="heading-seperator"><span></span></div>
                                                                        </header>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div> <!-- .tm-element-heading-wrapper container -->
                                                    <div class="wpb_text_column wpb_content_element  vc_custom_1664272403140 tm-center-text">
                                                        <div class="wpb_wrapper">
                                                            <p>Feel free to contact us through <a class="tm-skincolor" href="https://www.facebook.com/mctufftiles">Facebook</a>  or <a href="https://www.instagram.com/mctufftiles">Instagram</a> if you prefer.</p>
                                                        </div>
                                                    </div>
                                                    <div role="form" class="wpcf7" id="wpcf7-f873-p870-o2" lang="en-US" dir="ltr">
                                                        <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                                        <form action="" method="" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                                            <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="873" />
                                                                <input type="hidden" name="_wpcf7_version" value="5.6.4" />
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f873-p870-o2" />
                                                                <input type="hidden" name="_wpcf7_container_post" value="870" />
                                                                <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
                                                            </div>
                                                            <div class="cmt-commonform cmt-contact-fablio">
                                                                <div class="row">
                                                                    <div class="col-md-4"><span class="wpcf7-form-control-wrap" data-name="your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your Name*" /></span></div>
                                                                    <div class="col-md-4"><span class="wpcf7-form-control-wrap" data-name="your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your Email*" /></span></div>
                                                                    <div class="col-md-4"><span class="wpcf7-form-control-wrap" data-name="your-phone"><input type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Phone Number*" /></span></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6"><span class="wpcf7-form-control-wrap" data-name="your-cname"><input type="text" name="your-cname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Company Name*" /></span></div>
                                                                    <div class="col-md-6"><span class="wpcf7-form-control-wrap" data-name="your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Subject*" /></span></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12"><span class="wpcf7-form-control-wrap" data-name="your-detail"><textarea name="your-detail" cols="20" rows="5" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12 cmt-frm-btn tm-center-text">
                                                                        <input type="submit" value="Send Now!" class="wpcf7-form-control has-spinner wpcf7-submit tm-vc_btn3 tm-vc_general tm-vc_btn3-shape-square tm-vc_btn3-color-skincolor" />
                                                                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form><br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                <div class="vc_row-full-width vc_clearfix"></div>




                                <div data-vc-full-width="true" data-vc-full-width-init="false" class="tm-row wpb_row vc_row-fluid vc_custom_1616563183367 tm-responsive-custom-24827320 vc_column-gap-default break-991-colum tm-zindex-0 tm-bgimage-position-center_center">

                                    <div class="vc_row container vc_column-gap-default vc_row-o-equal-height vc_row-flex">

                                        <div class="wpb_column tm-column vc_column_container vc_col-sm-5 tm-zindex-0">
                                            <div class="vc_column-inner  ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_gmaps_widget wpb_content_element vc_custom_1664272645730"><div class="wpb_wrapper"><div class="wpb_map_wraper"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.7279146979367!2d74.44920871512925!3d32.53341310367354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391ee927675ce1b7%3A0xcac06ffc4bd16de6!2sAirport%20Road%2C%20Sialkot%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2s!4v1674249448567!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div></div></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="wpb_column tm-column vc_column_container vc_col-sm-7 tm-zindex-0 margin-15px-991-colum">
                                            <div class="vc_column-inner vc_custom_1616562471682 tm-responsive-custom-64263477">
                                                <div class="wpb_wrapper">
                                                    <div class="tm-element-heading-wrapper tm-heading-inner tm-element-align-left tm-seperator-none tm-heading-style-vertical ">
                                                        <section class="tm-vc_cta3-container">
                                                            <div class="tm-vc_general tm-vc_cta3 tm-cta3-only tm-vc_cta3-style-classic tm-vc_cta3-shape-rounded tm-vc_cta3-align-left tm-vc_cta3-color-transparent tm-vc_cta3-icon-size-md tm-vc_cta3-actions-no tm-cta3-without-desc">
                                                                <div class="tm-vc_cta3_content-container">
                                                                    <div class="tm-vc_cta3-content">
                                                                        <header class="tm-vc_cta3-content-header tm-wrap">
                                                                            <div class="tm-vc_cta3-headers tm-wrap-cell">
                                                                                <h4 class="tm-custom-heading ">Contact us</h4>
                                                                                <h2 class="tm-custom-heading ">Get In <b>Touch!</b></h2>
                                                                            </div><div class="heading-seperator"><span></span></div>
                                                                        </header>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div> <!-- .tm-element-heading-wrapper container --> <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_custom_1616505784779  vc_custom_1616505784779">
                                                        <span class="vc_sep_holder vc_sep_holder_l"><span style="border-color:#f3f3f3;" class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span style="border-color:#f3f3f3;" class="vc_sep_line"></span></span>
                                                    </div>
                                                    <div class="tm-row-inner vc_row wpb_row vc_inner vc_row-fluid vc_custom_1616153273217 tm-zindex-0">

                                                        <div class="wpb_column tm-column-inner vc_column_container vc_col-sm-6 tm-zindex-0">
                                                            <div class="vc_column-inner  ">

                                                                <div class="wpb_wrapper">
                                                                    <div class="themetechmount-iconbox themetechmount-iconbox-stylenine ">
                                                                        <div class="themetechmount-iconbox-inner tm-boxicon-small tm-iconstyle-rounded">
                                                                            <div class="tm-iconbox-wrapper tm-wrap">
                                                                                <div class="themetechmount-iconbox-icon tm-wrap-cell">
                                                                                    <div class="tm-box-icon"><i class="themifyicon ti-location-pin"></i></div>
                                                                                </div>
                                                                                <div class="themetechmount-iconbox-heading tm-wrap-cell">
                                                                                    <div class="tm-vc_general tm-vc_cta3 tm-cta3-only tm-vc_cta3-style-classic tm-vc_cta3-shape-rounded tm-vc_cta3-align-left tm-vc_cta3-color-transparent tm-vc_cta3-icon-size-md tm-vc_cta3-actions-no tm-cta3-without-desc">
                                                                                        <div class="tm-vc_cta3_content-container">
                                                                                            <div class="tm-vc_cta3-content">
                                                                                                <header class="tm-vc_cta3-content-header tm-wrap">
                                                                                                    <div class="tm-vc_cta3-headers tm-wrap-cell">
                                                                                                        <h2 class="tm-custom-heading ">Address</h2>
                                                                                                    </div><div class="heading-seperator"><span></span></div>
                                                                                                </header>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>					<div class="tm-iconbox-boxcontent">
                                                                                                                <div class="tm-cta3-content-wrapper">Mahr City, 12-KM Lopowali, Wazirabad Road, Sialkot, Punjab 51310</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="wpb_column tm-column-inner vc_column_container vc_col-sm-6 tm-zindex-0">
                                                            <div class="vc_column-inner  ">

                                                                <div class="wpb_wrapper">
                                                                    <div class="themetechmount-iconbox themetechmount-iconbox-stylenine ">
                                                                        <div class="themetechmount-iconbox-inner tm-boxicon-small tm-iconstyle-rounded">
                                                                            <div class="tm-iconbox-wrapper tm-wrap">
                                                                                <div class="themetechmount-iconbox-icon tm-wrap-cell">
                                                                                    <div class="tm-box-icon"><i class="themifyicon ti-email"></i></div>
                                                                                </div>
                                                                                <div class="themetechmount-iconbox-heading tm-wrap-cell">
                                                                                    <div class="tm-vc_general tm-vc_cta3 tm-cta3-only tm-vc_cta3-style-classic tm-vc_cta3-shape-rounded tm-vc_cta3-align-left tm-vc_cta3-color-transparent tm-vc_cta3-icon-size-md tm-vc_cta3-actions-no tm-cta3-without-desc">
                                                                                        <div class="tm-vc_cta3_content-container">
                                                                                            <div class="tm-vc_cta3-content">
                                                                                                <header class="tm-vc_cta3-content-header tm-wrap">
                                                                                                    <div class="tm-vc_cta3-headers tm-wrap-cell">
                                                                                                        <h2 class="tm-custom-heading ">Call Us / Email</h2>
                                                                                                    </div><div class="heading-seperator"><span></span></div>
                                                                                                </header>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>					<div class="tm-iconbox-boxcontent">
                                                                                                                <div class="tm-cta3-content-wrapper">
                                                                                                                    0330-619-0000<br />
                                                                                                                    0325-619-0000<br />
                                                                                                                    info@mcctrader.com
                                                                                                                </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="vc_row-full-width vc_clearfix"></div>
                            </div><!-- .entry-content -->

                        </article><!-- #post-## -->
                    </main><!-- #main .site-main -->
                </div><!-- #primary .content-area -->
            </div><!-- .site-content-inner -->
        </div><!-- .site-content -->
    </div>
</div>

