
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Website.cshtml";
}
<div class="tm-titlebar-wrapper tm-bg tm-bgcolor-custom tm-titlebar-align-default tm-textcolor-white tm-bgimage-yes tm-breadcrumb-bgcolor-custom">

    <img src="~/Website/Banners/banner6.jpg" style="width:100%"/>
    <div class="tm-titlebar-wrapper-bg-layer tm-bg-layer"></div>
    <div class="tm-titlebar entry-header">
        <div class="tm-titlebar-inner-wrapper">
            <div class="tm-titlebar-main">
                <div class="container">
                    <div class="tm-titlebar-main-inner">

                    </div>
                </div>
            </div><!-- .tm-titlebar-main -->
        </div><!-- .tm-titlebar-inner-wrapper -->
    </div><!-- .tm-titlebar -->
</div>
<div class="container-fluid" style="margin-top:-200px">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Website/Images/c1.jpg" style="height:450px;width:100%" />
        </div>
        <div class="col-md-6">
            <img src="~/Website/Images/minimalist-brick-wall-background.jpg" style="height:450px;width:100%" />
        </div>
    </div>
</div>
<br />
<div class="container-fluid">
    <img src="~/Website/Banners/banner7.jpg" style="width:100%" />
</div>
<br />


